{* This is the welcome page, you can delete it *}
{block content}
<div class='blue'>
  <div>
    <a n:href="Homepage:default">Homepage</a>
    <a n:href="Homepage:transition">transition</a>
  </div>
  Transition
</div>
{/block}

{block srcips}
{include parent}
{/block}
