<script src="{$basePath}/js/jquery-3.2.1.min.js"></script>
<script src="{$basePath}/js/popper.min.js"></script>
<script src="{$basePath}/js/bootstrap.min.js"></script>
<script src="{$basePath}/js/mdb.min.js"></script>
